/* Reaktif Font Family */
@font-face {
    font-family: 'Reaktif Bold'; /* Bold */
    src: url('../public/fonts/Reaktif-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reaktif News'; /* News */
    src: url('../public/fonts/Reaktif-News.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reaktif Semibold'; /* Semibold */
    src: url('../public/fonts/Reaktif-Semibold.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Cabin Font Family */
@font-face {
    font-family: 'Cabin Regular'; /* Regular */
    src: url('../public/fonts/Cabin-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin Bold'; /* Bold */
    src: url('../public/fonts/Cabin-Bold.ttf') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.encabezado {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo h1 {
    font-family: 'Reaktif Semibold', sans-serif;
    color: #333333;
}

.navegacion ul {
    list-style: none;
    display: flex;
}

.navegacion ul li {
    padding: 10px;
    margin: 10px;
}

.navegacion ul li a {
    text-decoration: none;
    font-family: "Reaktif News", sans-serif;
    color: #333333;
}

.saber-mas {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.saber-mas a {
    font-family: "Cabin Regular", sans-serif;
    color: white;
    text-decoration: none;
}

.pie-pagina {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    font-family: "Cabin Regular", sans-serif;
}

.titulo_python{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Reaktif Semibold', sans-serif;

}

.introduccion{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Cabin Regular", sans-serif;
    width: 90%;
    margin-left: 60px;
}

.contenedor{
    position: relative;
    background-color: rgb(175, 175, 175);
    width: 80%;
    height: 200px;
    align-items: center;
    justify-content: center;
    left:150px ;
    border-radius: 10px;
    
}

.subtitulo{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Reaktif Semibold', sans-serif;
}


.caracteristicas{
    display: flex;
    flex-direction: column;
    margin-top: 20px;   
    margin-left: 20%;
    justify-content: center;
    font-family: "Cabin Regular", sans-serif;   

    font-family: "Cabin Regular", sans-serif;   
}
.caracteristicas h3{
    margin-top: 10px;
}

.cont_casos_de_uso{
    position: relative;
    background-color: rgb(175, 175, 175);
    width: 80%;
    height: 240px;
    align-items: center;
    justify-content: center;
    left:150px ;
    border-radius: 10px;
}

.subtitulo_casos_de_uso{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Reaktif Semibold', sans-serif;
}

.casos_de_uso{
    display: flex;
    flex-direction: column;
    margin-top: 25px;   
    margin-left: 25%;
    justify-content: center;
    font-family: "Cabin Regular", sans-serif;
}


.casos_de_uso p{
    margin-top: 5px;
}

.titulo_java{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Reaktif Semibold', sans-serif;
    

}

.contenedor_java{
    position: relative;
    background-color: rgb(175, 175, 175);
    width: 80%;
    height: 250px;
    align-items: center;
    justify-content: center;
    left:150px ;
    border-radius: 10px;
    
}

.cont_casos_de_uso_java{
    position: relative;
    background-color: rgb(175, 175, 175);
    width: 80%;
    height: 240px;
    align-items: center;
    justify-content: center;
    left:150px ;
    border-radius: 10px;
}